*{
    margin: 0;
    padding: 0;
}

.imagem_topo_curso {
    position: absolute;
    width: 100%;
    height: 350px;
    left: 0px;
    top: 51px;
}

.navbar{
    position: absolute;
    width: 100%;
    height: 51px;
   
    background: #1272A8;
}

.botao_home{
    position: absolute;
    width: 79px;
    height: 35px;
    right: 300px;
    top: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
}

.botao_sobre{
    position: absolute;
    width: 79px;
    height: 35px;
    right: 250px;
    top: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
}

.botao_projetos{
    position: absolute;
    width: 79px;
    height: 35px;
    right: 200px;
    top: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
}

.botao_videos{
    position: absolute;
    width: 79px;
    height: 35px;
    right: 130px;
    top: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
}

.botao_blog{
    position: absolute;
    width: 79px;
    height: 35px;
    right: 70px;
    top: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
}

.botao_contato{
    position: absolute;
    width: 79px;
    height: 35px;
    right: 20px;
    top: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
}

.titulo_sobre{
    position: absolute;
    left: 50%;
    top: 400px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

   
    color: #1272A8;
}

.linha_1{
    position: absolute;
    width: 382px;
    left: 40%;
    top: 435px;

    border: 1px solid #1272A8;
    transform: rotate(-0.15deg);
}

.texto_sobre{
    position: absolute;
    width: 722px;
    height: 263px;
    left: 27%;
    top: 440px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    z-index: 2;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imagem_meio{
    position: absolute;
    width: 149px;
    height: 151px;
    left: 50%;
    top: 666px;
}

.imagem_fundo_1{
    position: absolute;
    right: 60%;
    top: 616px;
    transform: rotate(90deg);
    
}

.imagem_fundo_2{
    position: absolute;
    width: 403px;
    height: 566px;
    left: 70%;
    top: 389px;

    z-index: 1;
}

.imagem_fundo_3{
    position: absolute;
    width: 235px;
    height: 186px;
    left: 65%;
    top: 855px;
    
    z-index: 1;
}

.imagem_fundo_4{
    position: absolute;
    width: 235px;
    height: 186px;
    left: 46%;
    top: 1565px;
}

.imagem_fundo_5{
    position: absolute;
    width: 134px;
    height: 92px;
    left: 83%;
    top: 1490px;
    transform: rotate(-15.07deg);
}

.imagem_fundo_6{
    position: absolute;
    width: 134px;
    height: 92px;
    left: 18%;
    top: 1490px;
    transform: rotate(15.07deg);
}

.imagem_fundo_7{
    position: absolute;
    width: 198px;
    height: 58px;
    left: 24%;
    top: 1669px;
}

.imagem_fundo_8{
    position: absolute;
    width: 198px;
    height: 58px;
    left: 71%;
    top: 1669px;
}

.titulo_projetos{
    position: absolute;
    width: 308px;
    height: 17px;
    left: 50%;
    top: 900px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #1272A8;
}

.linha_2{
    position: absolute;
    width: 382px;
    left: 41%;
    top: 935px;

    border: 1px solid #1272A8;
    transform: rotate(-0.15deg);
}

.texto_projetos{
    position: absolute;
    width: 722px;
    height: 263px;
    left: 27%;
    top: 940px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    z-index: 2;

    color: #000000;
}


.imagem_projeto_1{
    position: absolute;
    width: 240px;
    height: 230px;
    object-fit: cover;
    left: 15%;
    top: 1214px;
}

.imagem_projeto_2{
    position: absolute;
    width: 240px;
    height: 230px;
    object-fit: cover;
    left: 45%;
    top: 1214px;
}

.imagem_projeto_3{
    position: absolute;
    width: 240px;
    height: 230px;
    object-fit: cover;
    left: 75%;
    top: 1214px;
}

.link_videos{
    position: absolute;
    width: 56px;
    height: 23px;
    left: 30%;
    top: 1660px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #000000;
    background: #1272A8;
    border-radius: 30px;
}

.titulo_video{ 
    position: absolute;
    width: 308px;
    height: 17px;
    left: 28.5%;
    top: 1543px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #1272A8;
}

.texto_video{
    position: absolute;
    width: 219px;
    height: 53px;
    left: 24%;
    top: 1595px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}


.titulo_blog{
    position: absolute;
    width: 308px;
    height: 17px;
    left: 75%;
    top: 1543px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #1272A8;
}

.texto_blog{
    position: absolute;
    width: 282px;
    height: 47px;
    left: 68%;
    top: 1591px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

.link_blog{
    position: absolute;
    width: 56px;
    height: 28px;
    left: 76%;
    top: 1660px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #000000;
    background: #1272A8;
    border-radius: 30px;
}

.linha_3{
    position: absolute;
    width: 382px;
    height: 0px;
    left: 41%;
    top: 1561px;

    border: 1px solid #1272A8;
    transform: rotate(-0.15deg);
}

.titulo_contato{
    position: absolute;
    width: 308px;
    height: 29px;
    left: 50%;
    top: 1746px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #1272A8;
}

.linha_4{
    position: absolute;
    width: 382px;
    left: 41%;
    top: 1781.02px;

    border: 1px solid #1272A8;
    transform: rotate(-0.15deg);
}

.link_instagram{
    position: absolute;

    top: 2335px;
    left: 377px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    z-index: 2;

    color: #FFFFFF;
}

.fone{
    position: absolute;
    width: 153px;
    height: 31px;
    left: 63px;
    top: 2296px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    z-index: 2;

    color: #FFFFFF;
}

.whatsapp{
    position: absolute;
    width: 177px;
    height: 31px;
    left: 376px;
    top: 2298px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    z-index: 2;

    color: #FFFFFF;
}

.email{
    position: relative;
    width: 177px;
    height: 30px;
    left: 63px;
    top: 2338px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    z-index: 2;

    color: #FFFFFF;
}

.fundo{
    position: absolute;
    width: 100%;
    height: 96px;
    top: 2288px;
    z-index: 1;

    background: #1272A8;
}

.imagem_fim{
    position: absolute;
    width: 86px;
    height: 82px;
    left: 92%;
    top: 2290px;
    
    z-index: 2;
}

@media (max-width: 768px) {
    .imagem_topo_curso{
        display: flex;
        flex-wrap: wrap;
    }
}